<div class="row">

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>

        @if (usuarios.length > 0) {
          <table class="table table-hover">
            <tbody>
              @for (usuario of usuarios; track usuario) {
                <tr routerLink="/usuarios" class="pointer">
                  <td>
                    <img [src]="usuario.img | imagen" class="img-50 img-circle">
                  </td>
                  <td>
                    {{ usuario.nombre }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }

        @if (usuarios.length === 0) {
          <div class="alert alert-info">
            No hay Registros
          </div>
        }

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitales</h4>

        @if (hospitales.length > 0) {
          <table class="table table-hover">
            <tbody>
              @for (hospital of hospitales; track hospital) {
                <tr [routerLink]="['/hospitales']" class="pointer">
                  <td>
                    <img [src]="hospital.img | imagen:'hospital'" class="img-50">
                  </td>
                  <td>
                    {{ hospital.nombre }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }

        @if (hospitales.length === 0) {
          <div class="alert alert-info">
            No hay Registros
          </div>
        }

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Médicos</h4>

        @if (medicos.length > 0) {
          <table class="table table-hover">
            <tbody>
              @for (medico of medicos; track medico) {
                <tr [routerLink]="['/medico', medico._id]" class="pointer">
                  <td>
                    <img [src]="medico.img | imagen:'medico'" class="img-50 img-circle">
                  </td>
                  <td>
                    {{ medico.nombre }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }

        @if (medicos.length === 0) {
          <div class="alert alert-info">
            No hay Registros
          </div>
        }
      </div>
    </div>
  </div>

</div>